## ignore maven target
**/target/


## ignore eclipse files
**/.settings/
**/bin/
**/.project
**/.classpath
*.class


## ignore intelliJ files
*/.idea/
.idea/
*.iml
*/*.iml


## ignore mac files
*/.DS_Store
.DS_Store


## ignore tmp and swp files
*.bak
*.tem
*.temp
*.*~
~*.*


log/
*.log
